#--------------------------------------------------
# example unix/linux crontab file format:
#--------------------------------------------------
# min,hour,dayOfMonth,month,dayOfWeek command
#
# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sun, or use names)
#
#--------------------------------------------------

# Run a backup of all PostgreSQL databases every hour
0 * * * * /usr/bin/docker run -e DAYS_TO_KEEP=7 -e BACKUP_SUFFIX=-daily -e BACKUP_DIR=/backups/daily/ -e PGHOST=localhost -e PGUSER=postgres -e PGPASSWORD=postgres lefeverd/docker-db-backup:0.1.0

# Run a backup of all PostgreSQL databases every sunday
0 0 * * 7 /usr/bin/docker run -e DAYS_TO_KEEP=30 -e BACKUP_SUFFIX=-monthly -e BACKUP_DIR=/backups/weekly/ -e PGHOST=localhost -e PGUSER=postgres -e PGPASSWORD=postgres lefeverd/docker-db-backup:0.1.0
